*{
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    list-style-type: none;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}

.centr{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

.cont1, .bgc1{
    background-image: url('./images/stervjatnik.jpg');
    height: 100vh;
    max-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
}
.bgc2{
    background-image: url('./images/5ground2.jpg');
}
.bgc3{
    background-image: url('./images/12ground2.jpg');
}
.bgc4{
    background-image: url('./images/1ground.jpg');
}
header{
    display: flex;
    justify-content: space-between;
}
.menu{
    padding-top: 36px;
}
.burger{
    display: none;
}
.menu ul{
    display: flex;
    justify-content: end;

}
.menu ul li{
    padding: 0 4%; 
    cursor: pointer; 
}
.menu ul li:hover a, .menu ul li:hover i{
    color: #fce38a;
    border-bottom: 3px solid #fce38a;
    
}

.logo{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    padding-top: 25px;
}
.menu ul li a, .menu ul li i{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    border-bottom: 3px solid transparent;
    padding-bottom: 10px;
}
.content{
    height: fit-content;
    text-align: center;
    padding-bottom: 5px;
}
.cont1 .owl-dots button{
    display: block;
    width: 30px;
    height: 30px;
    background: blue;
}

@media(max-width: 1024px){
    .menu{
        display: none;
    }
    .burger{
        display: block;
        height: 40px;
        width: 40px;
        margin-top: 25px;
        background-color: #e88582;
        border: 5px solid #f0d289;
        border-radius: 50%;
    }
    .burgerlines{
        display: block;
        font-size: 20px;
        font-weight: 900;
        color: white;
        text-align: center;
    }
    .show{
        display: block;
    }
}

.content h2{
    font-size: 72px;
    color: #fff;
    font-family: 'Kaushan Script', cursive;
    font-weight: 400;
    text-align: center;
    padding-top: 8vh;
}
.content h1{
    font-size: 144px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}
.whiteline{
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    height: 3px;
    width: 60px;
    color: #fff;
    background-color: #fff;
   
}
.content a{
    text-decoration: none;
    font-weight: bold;
    padding: 10px 40px;
    border: 2px solid;
    color: #fff;
}

.cont2{
    height: 750px;
    text-align: center;
}
.redline{
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    height: 3px;
    width: 60px;
    color: red;
    background-color: red;
    text-align: center;
}
.what{
    padding-top: 90px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    text-align: center;
}
.story{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.greytextcentr{
    font-size: 14px;
    color: #999999;
    text-align: center;
}
.cont2 .cardsblock2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 100px;
    padding-bottom: 110px;

    width: 100%;
    height: 270px;
    /*background-image: url(./images/Zadnik.png);
    background-repeat: no-repeat;
    background-position: 10px 10px;*/
}

.cont2 .cardsblock2 .item img{
    z-index: 3;
    position: relative;
    max-width: 100%;
    margin: 10px;
    transition: 0.5s;
}
.cont2 .cardsblock2 .item img:hover{                         /* криво и косо, но пока хоть как-то*/
    margin: 0 20px 20px 0;
    box-shadow: 10px 10px #95e1d3;
    transition: 0.5s;
    z-index: 1;
    /*transform: translate3d(-10px -10px 0);*/
}
.item:hover .item p{
    z-index: 4;
}
.cont2 .cardsblock2 .item p{
    text-transform: uppercase;
    color: lawngreen;
    position: relative;
    z-index: 2;
    top: -170px;
    transition: 0.5s;
    opacity: 0.9;
}

.cont3{
    height: 270px;
    width: 100%;
    background-color: #95e1d3;
}
.blueline{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    justify-items: stretch;
}
.line3{
    width: 240px;
    height: 100%;
    text-align: center;
    border: 1px #fff;
    border-style: hidden solid hidden solid;
}
.line3 h2{
    font-size: 60px;
    color: #fff;
    transform: translateY(100%);
}
.line3 p{
    font-size: 15px;
    text-transform: uppercase;
    color: #fff;
    padding-top: 1.2em;
    transform: translateY(180%);
}

.cont4{
    height: 650px;
}
.we{
    margin-top: 110px;
    font-family: 'Kaushan Script', cursive;
    font-size: 25px;
    text-align: center;
}
.amaz{
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.meinline4{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr 5fr;
    grid-template-rows: 175px 175px;

    padding-bottom: 50px;
}
.meinline4 div{
    padding-top: 50px;
}
.grl1, .grl2, .grl3{
    border-bottom: 3px solid #c5c5c5;
}
.meinline4 p{
    font-size: 14px;
    color: #999999;
}
.meinline4 h2{
    font-size: 15px;
    text-transform: uppercase;
    padding-bottom: 1em;
}
.meinline4 i{
    width: 60px;
    font-size: 30px;
    margin-right: 30px;
    color: #95e1d3;
    text-align: right;
}

.cont5{
    position: relative;
    height: 850px;
    width: 100%;
    background-image: url(./images/5ground2.jpg);
    background-size: cover;
}
.centrpad{
    position: absolute;
    bottom: 0;
    right: 35%;
}
.necentrpad{
    position: absolute;
    bottom: -12%;
    right: 25%;
}



.cont6{
    height: 900px;
}
.meinline6{
    display: flex;
    height: 380px;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 120px;
}
.line6-1, .line6-2{
    width: 570px;
    height: 100%;
}
.line6-1{
    background-image: url(./images/6.jpg);
    margin-right: 30px;
}
.line6-2{
    max-height: 380px;
    border: none;
}
.zagbtt{
    position: relative;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #333333;    
    border: 1px solod #999;
}
.zagbtt i{
    font-size: 30px;
    color: aqua;
    position: absolute;
    transform: translateY(-50%);
    
}
.zagbtttext{
    position: absolute;
    transform: translateY(-45%);
    margin-left: 50px;
}
.body6{
    height: 175px;
    overflow-y: scroll;
    font-family: 'Roboto';
    font-style: italic;
    color: #a8a8a8;
    border: 1px solod #a8a8a8;
}



.cont7karusel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f8f8f8;
}
.cont7text{
    width: 41%;
    margin-left: 30px;
    font-family: Roboto, sans-serif;
    font-style: 24px;
    font-style: italic;
    font-weight: 300;
    color: black;
}
.rl7{
    margin: 0;
    display: inline-block;
}
.cont7name{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: black;
}
.cont7img{
    width: 207px;
    height: 207px;
}


.meinline8{
    display: flex;
    justify-content: space-around;
    justify-content: center;
    padding-top: 90px;
    padding-bottom: 120px;
}
.line8img{
    position: relative;
	overflow: hidden;	
	display: inline-block;
}
/*.llll{
    height: 40px;
    width: 40px;
    border: 2px solid #fff;
    border-style: solid;
}*/
.line8img:hover .bottom-to-top{
	opacity: 0.9;
	top: 0;
    left: 0;
    transition: 1s;
    transform: translate3d(-10px -10px 0);
    /*box-shadow: 10px 10px #95e1d3;*/
}
.pic-caption{
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #e5bc7f, #e07979);
	padding: 10px;
    text-align: center;    
    opacity: 0;
    transition: 1s;
}
.line8img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.line8img, .pic-caption{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    transition: all 1s ease;      
}
.line8img:hover img, .line8img:hover .pic-caption{
    -webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    transition: all 1s ease;   
    box-shadow: 10px 10px #95e1d3; 
}
.line8in{
    margin-left: 15px;
    margin-right: 15px;
}

.line8img i{  
    font-size: 30px;          
    color: #ffffff; 
    padding-top: 50%;
}
.line8text{
    text-align: center;
    font-size: 12px;
}
.line8text h3{
    padding-top: 1.5em;
    text-transform: uppercase;
}
.line8text p{
    font-style: italic;
    color: #5b5c88;
    padding-top: 1em;
}


.cont9{
    width: 100%;
    background-color: #f8f8f8;
}
.meinline9{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #f8f8f8;
    justify-content: space-around;
    justify-items: center;
}


.meinline10{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 390px 390px;
    margin-top: 90px;    
    
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}
.meinline10 .item10{
	position: relative;
	overflow: hidden;	
	display: inline-block;
}
.item10:hover .bottom-to-top{
	opacity: 0.9;
	top: 0;
    left: 0;
    transition: 1s;
}
.pic-caption{
	cursor: default;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(to top, #e5bc7f, #e07979);
	padding: 10px;
    text-align: center;    
    opacity: 0;
    transition: 1s;
}
.meinline10 .item10 img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.meinline10 .item10:nth-child(3){
    grid-row: 1/3;
    grid-column: 3/4;    
}
.item10 i{  
    font-size: 40px;          
    color: #ffffff; 
    padding-top: 28%;
}
.meinline10 .item10:nth-child(3) i{
    padding-top: 70%;  
}
.item10 h5{
    font-size: 15px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 20px;    
}
.item10 .pic-caption .texttop{        
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-style: italic;
    color: #ffffff;
    margin-top: 15px;           
}
.item10, .item10 img, .pic-caption, .item10:hover .pic-caption, .item10:hover img{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
    transition: all 1s ease;      
}
.meinline10 .item10:nth-child(3):hover .pic-caption{ 
    background: linear-gradient(to top, #e5bc7f, #e07979);       
    opacity: 0.8;          
}
 @media(max-width:800px){
    .meinline10{
        grid-template-columns: 50% 50%;
        grid-template-rows: 390px 390px 390px 390px;
    }
    .item10:nth-child(3){
        grid-column: 1/2;
        grid-row: 2/4;
    }
 }


 .cont11karusel{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f8f8f8;
}
.cont11text{
    width: 41%;
    margin-left: 30px;
    font-family: Roboto, sans-serif;
    font-style: 24px;
    font-style: italic;
    font-weight: 300;
    color: black;
}
.rl11{
    margin: 0;
    display: inline-block;
}
.cont11name{
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: black;
}
.cont11img{
    width: 207px;
    height: 207px;
    border-radius: 50%;
}




.cont12{
    height: 830px;
    background-image: url(./images/12ground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.line12{
    padding-top: 45px;
}
.line12 img{
    size: 110px;
    border-radius: 50%;
    margin-right: 30px;
}
.redline12{
    margin-left: 0;
    margin-top: 1em;
    margin-bottom: 1.5em;
}
.line12 h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}
.line12 p{
    font-size: 14px;
    font-family: 'Roboto';
    color: #5b5c88;
}
.design{
    font-family: 'Roboto';
    font-style: italic;
    margin-top: 1em;
}


.meinline13{
    display: flex;
    justify-content: center;
    padding-bottom: 120px;
}
.line13in{
    margin-left: 15px;
    margin-right: 15px;

}
.line13text{
    font-size: 12px;
    padding-bottom: 15px;
    border-bottom: 3px solid #efefef;
}
.line13text h3{
    padding-top: 1.5em;
    text-transform: uppercase;
}
.line13text p{
    color: #81818f;
    padding-top: 1em;
}

.cont14{
    height: 200px;
    background-image: url(./images/14ground2.jpg);
    text-align: center;
}
.cont14 i{
    font-size: 30px;
    color: red;
    padding-top: 55px;
}
.cont14 h2{
    font-size: 20px;
    text-transform: uppercase;
    color: red;
    padding-top: 15px;
}
.cont14 span{
    margin-top: 20px;
}


@media(min-height: 1000px){
    .content h2{
        padding-top: 145px;
    }
}

@media(max-width: 1024px){
    .menu{
        display: none;
    }
}
@media(max-width: 768px){
    .cards .item{
        width: 48%;
        padding-bottom: 20px;
    }
}

@media(max-width: 600px){
    .cards .item img{
       /* max-width: auto;*/
        width: 143%;
    }
    .cards .item{
        width: 100%;
    }
}
@media(max-width: 425px){

}